{% extends 'base.html.twig' %}

{% block title %}Twitter tweet wall {% endblock %}

{% block body %}
    <div style="display:none">
        {{ dump(res) }}
    </div>
    <div id="tweetContainer" class="container">
    {% for tweet in res %}
        {% autoescape %}
            <div class="col-md-8">
                <div class="card flex-md-row mb-4 box-shadow h-md-250">
                    <div class="card-body d-flex flex-column align-items-start">

                        <div class="row">
                            <div class="col-md-auto">
                                <img src="{{ tweet.user.profile_image_url }}"/>
                            </div>
                            <div class="col-7" style="font-size: 12px;">
                                <strong class="d-inline-block mb-2 text-success"
                                        style="margin-bottom: 1px !important;"> <a
                                            href=""> {{ tweet.user.screen_name |raw }}</a></strong>
                                <div class=" text-muted"
                                     style="font-size: 9px;">{{ tweet.user.description |raw }} </div>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-7">
                                <p class="card-text mb-auto"> {{ tweet.canonicalMessage }}</p>
                                {% for tags in tweet.entities.hashtags %}
                                    <span style="color:green;float:left">#{{ tags.text|raw }}&nbsp; </span>
                                {% endfor %}
                                {% if  tweet.extended_entities is defined %}
                                    <div class="row">
                                        <div class="col-md-auto">
                                            <img classs="card-img-right flex-auto d-none d-lg-block"
                                                 src="{{ tweet.extended_entities.media[0].media_url_https|raw }}"
                                                 data-holder-rendered="true" style="width: 200px; height: 250px;">
                                        </div>
                                    </div>
                                {% endif %}

                            </div>
                        </div>

                    </div>
                </div>

            </div>
            </div>
        {% endautoescape %}
    {% endfor %}
    </div>
{% endblock %}